<!--================ Start Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content text-center">
        <h2>Portfolio</h2>
        <div class="page_link">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
          <a [routerLink]="['/portfolio']" routerLinkActive="router-link-active">Portfolio</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Banner Area =================-->



<!--================Blog Area =================-->
<section class="blog_area section_gap_top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog_left_sidebar">
          <article class="row blog_item">
            <div class="col-md-3">
              <div class="blog_info text-right">
                <div class="post_tag">
                  <label>Attendery</label>
                  <br>
                  <label>Remoto</label>
                  <br>
                </div>
                <ul class="blog_meta list">
                  <li><label>Back End<i class="ml-2 lnr lnr-user"></i></label></li>
                  <li><label>Nov, 2019 - Actual<i class="ml-2 lnr lnr-calendar-full"></i></label></li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="blog_post">
                <img src="assets/img/works/attendery.jpg" alt="">
                <div class="blog_details">
                  <label>
                    <h2>Engineer Software Developer - NodeJs</h2>
                  </label>
                  <p>Developer NodeJS y parte de la StartUp dedidaca al desarrollo de una plataforma para la
                    optimizacion de organizaciones de viajes y transporte para organizaciones y empresas
                    internacionales.</p>
                  <a href="https://attendery.com" class="primary_btn"><span>Ver</span></a>
                </div>
              </div>
            </div>
          </article>
          <article class="row blog_item">
            <div class="col-md-3">
              <div class="blog_info text-right">
                <div class="post_tag">
                  <label>Dvs 360</label>
                  <br>
                  <label>Remoto</label>
                  <br>
                </div>
                <ul class="blog_meta list">
                  <li><label>Full Stack<i class="ml-2 lnr lnr-user"></i></label></li>
                  <li><label>Sept, 2018 - <br> Nov, 2019<i class="ml-2 lnr lnr-calendar-full"></i></label></li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="blog_post">
                <img src="assets/img/works/dvs360.svg" alt="">
                <div class="blog_details">
                  <label>
                    <h2>Full Stack Developer - Laravel - VueJS</h2>
                  </label>
                  <p>Developer PHP con Laravel Framework y VueJs. Start Up enfocado en el desarrollo de plataformas
                    enmpresariales de punta a punta. Desde el diseño y planificacion hasta infraestructura y
                    consultoria, pasando por el desarrollo de la misma.</p>
                  <a href="https://dvs360.com" class="primary_btn"><span>Ver</span></a>
                </div>
              </div>
            </div>
          </article>
          <article class="row blog_item">
            <div class="col-md-3">
              <div class="blog_info text-right">
                <div class="post_tag">
                  <label>Balcony</label>
                  <br>
                  <label>Remoto - Por Hs</label>
                  <br>
                </div>
                <ul class="blog_meta list">
                  <li><label>Full Stack<i class="ml-2 lnr lnr-user"></i></label></li>
                  <li><label>Sept, 2018 - <br> Dic, 2019<i class="ml-2 lnr lnr-calendar-full"></i></label></li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="blog_post">
                <img src="assets/img/works/balcony.jpg" alt="">
                <div class="blog_details">
                  <label>
                    <h2>Full Stack Developer - .Net</h2>
                  </label>
                  <p>Developer .Net en el cual desarrollaba plugins, herramientas y daba sopoerte a su plataforma de
                    manejo masivo de productos sobre un e-commerce.</p>
                  <a href="https://ebalcony.com.ar" class="primary_btn"><span>Ver</span></a>
                </div>
              </div>
            </div>
          </article>
          <article class="row blog_item">
            <div class="col-md-3">
              <div class="blog_info text-right">
                <div class="post_tag">
                  <label>Vemn S.A (K27)</label>
                  <br>
                  <label>Presencial</label>
                  <br>
                </div>
                <ul class="blog_meta list">
                  <li><label>Back End<i class="ml-2 lnr lnr-user"></i></label></li>
                  <li><label>Ene, 2018 - <br> Sept, 2018<i class="ml-2 lnr lnr-calendar-full"></i></label></li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="blog_post">
                <img src="assets/img/works/vemn.png" alt="">
                <div class="blog_details">
                  <label>
                    <h2>Back End Developer - .Net & Sharepoint</h2>
                  </label>
                  <p>Developer .Net & Sharepoint en el cual desarrollaba plataformas de gestion para bancos y grandes
                    empresas. Esta empresa ahora se llama K27.</p>
                  <a href="http://k27.com.ar/" class="primary_btn"><span>Ver</span></a>
                </div>
              </div>
            </div>
          </article>
          <article class="row blog_item">
            <div class="col-md-3">
              <div class="blog_info text-right">
                <div class="post_tag">
                  <label>Legislatura Porteña</label>
                  <br>
                  <label>Presencial</label>
                  <br>
                </div>
                <ul class="blog_meta list">
                  <li><label>Back End<i class="ml-2 lnr lnr-user"></i></label></li>
                  <li><label>Jul, 2017 - <br> Ene, 2018<i class="ml-2 lnr lnr-calendar-full"></i></label></li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="blog_post">
                <img src="assets/img/works/legislatura-logo.png" alt="">
                <div class="blog_details">
                  <label>
                    <h2>Back End Developer - .Net</h2>
                  </label>
                  <p>Developer .Net dedicado al desarrollo del sistema de gestion y finanzas de la legislatura
                    bonaerense de la ciudad.</p>
                  <a href="https://www.legislatura.gov.ar" class="primary_btn"><span>Ver</span></a>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget author_widget">
            <img class="author_img rounded-circle" src="assets/img/perfil/perfil.jpeg" alt="">
            <h4>Rodrigo Victor Alcorta</h4>
            <p>Senior Web Developer</p>
            <div class="social_icon">
              <a href="https://github.com/ralcorta"><i class="fa fa-github"></i></a>
            </div>
            <p>Desarrollador que busca expandir sus conocimientos y probarlos. Una persona apasionada por las nuevas
              tecnologías y autodidacta.
            </p>
            <div class="br"></div>
          </aside>

          <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Tecnologias</h4>
            <ul class="list cat-list">

              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>NodeJs</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>PHP</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>Typescript</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>Laravel</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>Python</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>VueJS</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>TypeScript</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>C</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>C++</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>CSS & HTML</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>Bootstrap</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>Vuetify</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>Git</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>GCP</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>AWS</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>Linux</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>Infraestructure</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>ServerLess</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>Docker</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>Informatic</p>
                </a>
              </li> security
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>DevOps</p>
                </a>
              </li>
              <li>
                <a href="javascript::0" class="d-flex justify-content-between">
                  <p>CD / CI</p>
                </a>
              </li>
            </ul>
            <div class="br"></div>
          </aside>
          <aside class="single-sidebar-widget newsletter_widget">
            <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="bbtns">Contacto</a>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Blog Area =================-->
