<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="banner_content">
            <h3 class="text-uppercase">Hola</h3>
            <h1 class="text-uppercase">Aquí Rodrigo</h1>
            <h5 class="text-uppercase">Senior web developer</h5>
            <div class="d-flex align-items-center">
              <a class="primary_btn" href="#"><span>Contactame!</span></a>
              <!-- <a class="primary_btn tr-bg" href="#"><span>Get CV</span></a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="home_right_img">
            <img class="" src="assets/img/banner/home-right.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="assets/img/about-us.png" alt="">
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>Dejame <br>
            Contarte un <br>
            poco</h2>
          <p>
            Soy Rodrigo Victor Alcorta, un apasionado por el desarrollo, el cafe y la cerveza!
          </p>
          <p>
            Soy un entusiasta y estudiante de Ingenieria Informatica aqui en Argentina. Ya hace varios años que me
            encuentro en el mercado brindando servicios de desarrollo de aplicaciones y plataformas web.
            Si lo deseas, puedes ver algunos de mis trabajos en mi portal de proyectos!
          </p>
          <a class="primary_btn" href="https://github.com/ralcorta"><span><i class="fa fa-github"></i> Github</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End About Us Area =================-->


<!--================ Start Features Area =================-->
<section class="features_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2> Servicios que brindo </h2>
          <p>
            Aqui describo algunos de los servicos que brindo como consultor y desarrollador web
          </p>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="assets/img/services/s1.png" alt="">
          <h4>Infraestructura</h4>
          <p>Creacion, hosting, administracion y escalamiento de infraestructura para empresas</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="assets/img/services/s2.png" alt="">
          <h4>Diseño estructural de aplicaciones</h4>
          <p>Doy soporte como consultor a empresas que necesitan algun guia para su equipo</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="assets/img/services/s3.png" alt="">
          <h4>Landing & Ecommerce</h4>
          <p>Dessarrollo y puesta en marcha de webs y ecommerce prediseñados para una rapida salida al mercado</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="assets/img/services/s4.png" alt="">
          <h4>Web developing</h4>
          <p>Desarrollo web a medida de aplicaciones y plataformas, ya sea de pequeña o de gran escala</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Features Area =================-->
